<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">


      <!--
        Specifying a link to route with query parameters
        and normal parameters and fragment could be done ONLY using
        routerLink property binding but better way is to use queryParams
        and fragment properties
      -->

      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
  </div>
</div>

