<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <br>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <button class="btn btn-primary" (click)="onAddBlueprint()">Add Server Blueprint</button>

      <!--
        Important note about properties:
          - Properties OR Events only and only concerning the tag they are referring to
          Example: above, the click event is for the button
          the class property is also for the button
      -->

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">

      <!--
        Directives:
        - Components are directives + template
        - Directives are either structural or attribute directives
          - Structural directives changes the DOM by adding/removing/changing
          elements
          - Attribute directives changes appearance or behaviour
          of element, compnent or other directive
      -->
      <div class="panel panel-default" *ngFor="let element of serverElements">
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>